<!-- NAVBAR E SIDBAR COM MODAL -->
 <nav class="navbar navbar-light bg-light shadow">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="navbar-toggler-icon"></span> SUSAUD Parametrização</span>
  </div>
</nav>

<div class="modal true" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
     <!--  <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MENU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
      <!--   <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="Home">HOME</a></li>
          <li class="list-group-item"><a href="Cadastro">REGISTRO</a></li>
          <li class="list-group-item"><a href="#">FACEBOOCK</a></li>
          <li class="list-group-item"><a href="#">LINKEDIN</a></li>
          <li class="list-group-item"><a href="https://www.castgroup.com.br/pt/">SOBRE NÓS</a></li>
        </ul> -->
        <div class="icon-bar">
          <a class="active" href="Home"><i class="fa fa-home"></i></a>
          <a href="Cadastro"><i class="fa fa-search"></i></a>
          <a href="#"><i class="fa fa-envelope"></i></a>
          <a href="#"><i class="fa fa-globe"></i></a>
          <a href="#"><i class="fa fa-trash"></i></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

