
 .modal {
  width: 200px;

}
.modal-content {
  width: 200px;
  background: linear-gradient(-135deg, #3d8de9,#010e31);
}

 .list-group-item:hover {
  background-color: rgba(89, 183, 238, 0.164) !important;
}

.icon-bar {
  width: 100px; /* tamanho dos icon */
  background: transform(-135deg, #3d8de9,#010e31);
   /* add  background degrade fica top  */
}

.icon-bar a {
  display: block; /* muito inportante ser block para deixar tudo alinhado */
  text-align: center; /* texto alinhado no centro */
  padding: 18px; /* Add some padding */
  transition: all 0.3s ease;  /* Add  Efeito transition para hover */
  color: white; /*  texto ou icone com cor  */
  font-size: 36px;  
  margin-top: 10px;
}

.icon-bar a:hover {
  background-color: #3d8de9; /* Add a hover colorida */
  border-radius: 12px;

}

.active {
  background-color: #010e31; /* Add ao active/uma cor fixa  */
  border-radius: 12px;
}
