<!-- NAVBAR E SIDBAR COM MODAL -->
 <nav class="navbar navbar-light bg-light shadow">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="navbar-toggler-icon"></span> SUSAUD Parametrização</span>
  </div>
</nav>
<!-- MODAL -->
<div class="modal true"   id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" >
    <div class="modal-content">
      <div class="modal-body">
        <div class="icon-bar">
          <a class="active" href="Home"><i class="fa fa-home"></i></a>
          <a href="Cadastro"><i class="fa fa-search"></i></a>
          <a href="https://www.castgroup.com.br/pt/fale-conosco/"><i class="fa fa-envelope"></i></a>
          <a href="https://www.castgroup.com.br/pt/"><i class="fa fa-globe"></i></a>
          <a href="#"><i class="fa fa-trash"></i></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

