
.jumbotron h1{
  color: #fff;
}
.jumbotron{
  background: linear-gradient(-135deg, #3d8de9,#010e31);
}
.container{
  position: relative;
  background: #fff;
  width: 100;
  margin: auto;
  padding: 40px 30px 30px;
  box-shadow: 25px 25px 75px;
  border-radius: 20px;
}

